---
title: Marquee
---

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/tween.min.js"></script>
<script type="text/javascript" src="../javascripts/RequestAnimationFrame.js"></script>

<div class="MarqueeFrame">
  <div class="MarqueeContent">あーあー。本日は晴天なりあーあー。本日は晴天なり</div>
</div>



<script type="text/javascript">
init();
animate();

function init() {

  //var output = document.createElement( 'div' );
  //output.style.cssText = 'position: absolute; left: 50px; top: 300px; font-size: 100px';
  //document.body.appendChild( output );
  var content = $('.MarqueeContent')[0];

  var tween = new TWEEN.Tween( { x: 250, y: 0 } )
    .to( { x: -1000 }, 12.5 * 700 )
    .easing( TWEEN.Easing.Linear.None )
    .onUpdate( function () {

      //output.innerHTML = 'x == ' + Math.round( this.x );
      content.style.left = this.x + 'px';

    } )
  .start();

}

function animate() {

  requestAnimationFrame( animate ); // js/RequestAnimationFrame.js needs to be included too.
  TWEEN.update();

}
</script>

